# Ignore VS Code stuff
**/.vscode/

# Python pre-compiled things
**/__pycache__/
*.py[cod]
*$py.class
**/pythonenv*/
**/.ipynb_checkpoints/

# Ingore a Python .venv folder
**/.venv/

# Visual Studio folders
**/.vs/
**/bin/
**/obj/

# Temp files
*~
**/.DS_Store
**/.DS_Store/

# NY Times cookie
.nyt_creds.json

# Cached data
.cached.json

# Any downloaded .puz files
*.puz

# Build artifacts
dist/*
build/*
*.spec
n.egg-info/*
