browser-cookie3
certifi
cffi
chardet
charset-normalizer
cryptography
fresh
future
idna
importlib-metadata
jeepney
keyring
pbkdf2
# py2exe
pyaes
pycparser
pycryptodome
pyinstaller
requests
SecretStorage
urllib3
zipp
